[init]
	defaultBranch = main
[user]
	email = LuchoLorenzo1@users.noreply.github.com
	name = Luciano Lorenzo
[core]
	editor = nvim
	pager = less
[push]
	autoSetupRemote = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[diff]
    external = difft
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
